
  body {
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
  }

  .heading {
    width: 100%;
    height: 300px;
    text-align: center;
    background-image: url(../img/banner3.jpg);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .starts span {
    display: inline;
  }

  .heading p {
    width: 90%;
    margin: 30px 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
  }

  .heading button {
    margin-bottom: 30px;
    width: 120px;
    height: 40px;
    border-radius: 25px;
    background-color: #82c3f5;
    color: white;
    border: 0;
  }

  .heading button:hover {
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    color: white;
  }

  .heading button:active {
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    color: white;
  }

  #logo-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: rgba(0,0,0,0);
  }

  .logo img {
    text-align: center;
    width: 100px;
    margin: 30px;
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .main-nav ul {
    list-style: none;
    padding-left: 0px;
    width: 100%;
    text-align: center;
  }
  .main-nav ul li {
    background-color: #82c3f5;
    padding: 20px;
  }

  .main-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase
    padding: 10px;
  }

  .main-content {
    margin-top: 30px;
    text-align: center;
  }

  .main-content h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 2rem;
  }

  .main-content img {
    width: 50px;
    margin-bottom: 30px;
  }

  .about-us-listed {
    margin: 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-side h3 {
    color: #82c3f5;
    font-weight: 500;
    font-size: 1.25rem;
  }

  .about-us-listed ul {
    align-self: flex-start;
    list-style-image: url(../img/arrow_bullet.png);
    list-style-position: inside;
    padding-left: 0px;
  }

  .about-us-listed ul li {
    text-align: left;
    padding-left: 0;
  }

  .about-us-listed p {
    text-align: left;
  }

  .about-us-listed img {
    width: 100%;
    align-self: center;
  }

  .reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .reviewer {
    display: flex;
    flex-direction: column;
    background-color: #82c3f5;
    width: 90%;
    height: 200px;
    margin: 10px 0px;
    color: white;
  }

  .reviewer p {
    padding: 0px 25px;
    text-align: left;
  }

  .character {
    color: white;
    padding-top: 10px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .character p {
    color: black;
  }

  .character img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    padding: 3px;
    margin: 0px 0px 0px 15px;
    border: 2px solid white;
  }

  .rating {
    display: flex;
    padding-left: 25px;
    flex-direction: column;
    align-items: flex-start;
  }

  .reviewer .rating p {
    margin: 0px;
    padding: 0px;
  }

  #social {
    margin-bottom: 50px;
  }

  .fa {
    font-size: 20px;
    color: white;
  }

  .contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  .green {
    color: white;
    text-transform: uppercase;
    background-color: #32E49F;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inline-images {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-info h3 {
    margin-bottom: 0px;
  }


  .inline-images p {
    margin:5px;
  }

  .red {
    color: white;
    text-transform: uppercase;
    background-color: #FC5282;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inline-social {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .inline-social i {
    margin: 3px 10px;
    padding:
  }

  .blue {
    color: white;
    text-transform: uppercase;
    background-color: #376CE4;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .blue p {
    margin: 5px;
  }

  .contact-info-home {
    display: flex;
    flex-direction: row;
    background-color: #82c3f5;
    height: 300px;
    align-items: center;
    justify-content: center;
  }

  .mapouter {
    position:relative;
    text-align:right;
    height:400px;
    width:100%;
  }

  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:400px;
    width:100%;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-wrapper button {
    align-self: flex-start;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: 0px;
    width: 80px;
    height: 30px;
  }

  .input-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .input-form input {
    width: 100%;
    height: 30px;
    padding: 5px 5px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
  }

  .input-form textarea {
    width: 100%;
    padding: 5px 5px;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
  }

  .footer {
    background-color: #212121;
    height: 200px;
    display: flex;
    flex-direction: column;
  }

   .footer-nav {
     display: flex;
     flex-direction: column;
     background-color: #212121;
     color: white;
     list-style-position: inside;
     width: 100%;
     height: 150px;
     align-items: center;
  }

  .footer-nav ul {
    display: flex;
    flex-direction: row;
    list-style-position: inside;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 0px;
  }

  .footer-nav li {
    list-style-type: none;
    padding: 5px 10px;
  }

}
