.main-wrapper {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}

.main-wrapper hr {
  width: 100%;
}

.main-wrapper img {
  margin-top: 20px;
  width: 350px;
}

.main-wrapper h2 {
  text-transform: uppercase;
}
